Flask==3.0.3
pinecone==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
blinker==1.8.2
certifi==2024.8.30
click==8.1.7
colorama==0.4.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
tqdm==4.66.5
typing-extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
